body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 40px 100px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.input-container label {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 16px;
    color: #999;
    transition: 0.3s;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 15px;
    color: black;
}

button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(90deg, #2b5876 0%, #4e4376 100%);
}

p {
    font-size: 14px;
    color: #666;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
